@using VTSV.Models
@model Image

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset style="float: left">
    <legend>Image</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<div id="image" style="float: right;">
    <img src="@Url.Action("Get", "Images", new { id = Model.ID })" alt="@Model.Name"/>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
