@using VTSV.Models
@model IList<Image>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" onclick="setTag('');">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><span>steve</span><span>desmond</span><span>photog</span><span>raphy</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{ var tagtypes = Model.SelectMany(i => i.Tags).Distinct().GroupBy(t => t.Type).Where(t => t.Count() > 1).OrderBy(t => t.Key.ID).ToList(); }
                @foreach (var tagtype in tagtypes)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @tagtype.Key.Name
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" id="@tagtype.Key.Name.ToLower()-list">
                            @foreach (var tag in tagtype.OrderBy(t => t.Name))
                            {
                                <li><a href="#" onclick="setTag(@tag.ID);">@tag.Name (@tag.Images.Count)</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>