@using Web.Models
<div class="row">
    <section id="title" class="col-xs-12">
        <a href="/">
            @{
                var xs = $"{Settings.ImageBase}/title-xs.png";
                var sm = $"{Settings.ImageBase}/title-sm.png";
            }
            <img src="@xs" class="hero visible-xs" alt="@Settings.Title" />
            <img src="@sm" class="hero hidden-xs" alt="@Settings.Title" />
        </a>
    </section>

    @Html.Raw(Cache.Intro)

    <section id="about" class="col-xs-12 col-sm-6">
        <a href="/about">
            <rimg base="about" src="@Settings.ImageBase/images/about-0640.jpg" class="hero" alt="About" sizes="(max-width: 767px) 100vw, (max-width: 1199px) 50vw, 555px" />
        </a>
    </section>

    <section id="work" class="col-xs-12 col-sm-6">
        <a href="/work-with-steve">
            <rimg base="work" src="@Settings.ImageBase/images/work-0640.jpg" class="hero" alt="Work With Steve" sizes="(max-width: 767px) 100vw, (max-width: 1199px) 50vw, 555px" />
        </a>
    </section>
    <section id="blog" class="col-xs-12 col-sm-6">
        <a href="/blog">
            <rimg base="blog" src="@Settings.ImageBase/images/blog-0640.jpg" class="hero" alt="Blog" sizes="(max-width: 767px) 100vw, (max-width: 1199px) 50vw, 555px" />
        </a>
    </section>

    <section id="talks" class="col-xs-12 col-sm-6">
        <a href="/talks/">
            <rimg base="talks" src="@Settings.ImageBase/images/talks-0640.jpg" class="hero" alt="Talks" sizes="(max-width: 767px) 100vw, (max-width: 1199px) 50vw, 555px" />
        </a>
    </section>
</div>