@using System.Threading.Tasks
@using Web.Models
@model Page
@{
    var articleStyle = (Model.FullWidth) ? "" : "col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2";
    var summarize = ViewBag.Summarize ?? false;
    var date = Model.Timestamp.ToString("yyyy-MM-dd");
}
<article id="@Model.URL.ToLower()" class="row">
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "Article",
        "@@id": "@Model.FullURL",
        "name": "@Model.Title",
        "articleSection": "@Model.Category",
        "about": "@Model.Description",
        "author": "Steve Desmond",
        "dateCreated": "@date",
        "dateModified": "@date",
        "datePublished": "@date",
        "description": "@Model.Description",
        "headline": "@Model.Title",
        "image": "@Settings.ProfileImage",
        "inLanguage": "en-US",
        "isFamilyFriendly": "true",
        "locationCreated": "Ithaca, NY",
        "publisher": "Steve Desmond",
        "thumbnailUrl": "@Settings.ProfileImage",
        "url": "@Model.FullURL"
    }
    </script>
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [
        {
            "@@type": "ListItem",
            "position": 1,
            "item": {
                "@@id": "@Settings.Domain/@Model.Category.ToLower()",
                "name": "@Model.Category"
            }
        },
        {
            "@@type": "ListItem",
            "position": 2,
            "item": {
                "@@id": "@Model.FullURL",
                "name": "@Model.Title"
            }
        }]
    }
    </script>
    @if (!Model.Partial)
    {
        <header class="@articleStyle">
            <h3 class="title">
                <a href="@Model.AbsoluteURL">
                    @Model.Title
                </a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.Description))
                {
                <h4 class="description">
                    <small>
                        @Model.Description
                    </small>
                </h4>
            }
            <h4 class="timestamp">
                <small>
                    <i>
                        <time>@Model.Timestamp.ToString("dddd, MMMM d, yyyy @ h:mm")@Model.Timestamp.ToString("tt").ToLower()</time>
                    </i>
                </small>
            </h4>
        </header>
    }

    <section class="@articleStyle">
        <content page="Model" summarize="@summarize" />
    </section>

    @if (summarize)
    {
        <footer class="@articleStyle">
            <a href="@Model.AbsoluteURL"><i>Read more...</i></a>
        </footer>
    }
    else if (!Model.Partial)
    {
        <footer class="@articleStyle">
            <p class="signature">
                <i>-Steve</i>
            </p>
            @if (!string.IsNullOrEmpty(Model.TwitterStatus))
                {
                <p class="share">
                    <a href="http://twitter.com/stevedesmond_ca/status/@Model.TwitterStatus" target="_blank">
                        <i class="fa fa-twitter"></i>
                        Comment / Share
                    </a>
                </p>
            }
        </footer>
    }
</article>