@using Web
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    @{
        const string name = "Steve Desmond";
        const string description = "Software developer and photographer from Ithaca, NY";
        var title = !string.IsNullOrEmpty(ViewBag.Subtitle) ? name + " – " + ViewBag.Subtitle : name;
    }
    <title>@title</title>
    <meta name="description" content="@description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="stevedesmond_ca" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="http://stevedesmond.ca/images/steve-0300.jpg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
</head>
<body>
    <div class="header">
        <h1 class="title">
            <a href="/">Steve Desmond</a>
        </h1>
        <h1 class="pull-right link-icons hidden-xs">
            <a target="_blank" href="https://github.com/stevedesmond-ca" title="stevedesmond-ca">
                <i class="fa fa-github"></i>
            </a>
            <a target="_blank" href="https://twitter.com/stevedesmond_ca" title="stevedesmond_ca">
                <i class="fa fa-twitter"></i>
            </a>
        </h1>
    </div>
    @Html.Partial("Navbar")
    <img alt="Steve" class="profile-photo" src="@Startup.ImageBase/steve-0300.jpg"
         srcset="@Startup.ImageBase/steve-0100.jpg 100w,
                @Startup.ImageBase/steve-0150.jpg 150w,
                @Startup.ImageBase/steve-0200.jpg 200w,
                @Startup.ImageBase/steve-0300.jpg 300w"
         sizes="(max-width: 767px) 100px, 150px" />
    <div class="container">
        @RenderBody()

        <hr />

        <small id="copyright" class="pull-right">&copy; Steve Desmond</small>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    @Html.Partial("GA")
</body>
</html>