@using Web.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
    
    @{
        var canonicalURL = Settings.Domain + Context.Request.Path;
        string description = ViewBag.Description ?? Settings.Description;
        string title = !string.IsNullOrEmpty(ViewBag.Subtitle) ? Settings.Title + " – " + ViewBag.Subtitle : Settings.Title;
    }
    <title>@title</title>
    <meta name="description" content="@description" />

    <meta name="og:site_name" content="@Settings.Title" />
    <meta name="og:type" content="article" />
    <meta name="og:url" content="@canonicalURL" />
    <meta name="og:title" content="@title" />
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@Settings.ProfileImage" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="stevedesmond_ca" />

    <link rel="shortcut icon" type="image/x-icon" href="@Settings.ImageBase/favicon.ico" />
    <link rel="canonical" content="@canonicalURL" />
    <link rel="stylesheet" type="text/css" href="/style.css?@Cache.CSSHash" />
    <link rel="alternate" type="application/atom+xml" href="/feeds/atom" />
    <link rel="alternate" type="application/rss+xml" href="/feeds/rss" />

    <script type="application/ld+json">
        @Html.Raw(Settings.OrgJSON)
    </script>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @Html.Partial("Header")

    <main id="main" class="container">
        @RenderBody()
    </main>

    @Html.Partial("Footer")
</body>
</html>