@model Web.Models.Page

<script type="text/javascript" language="javascript">
    function resetTimestamp() {
        var date = new Date();
        var dateString = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear() + ' ' + (date.getHours() % 12) + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes() + (date.getHours() < 12 ? 'am' : 'pm');
        document.getElementById('Timestamp').value = dateString;
    }
</script>

<div class="row">
    <div class="pull-left">
        <a href="/admin">&lt;&lt; Back</a>
    </div>

    @if (!string.IsNullOrEmpty(Model.Category) || !string.IsNullOrEmpty(Model.URL))
    {
        <div class="pull-right">
            <a target="_blank" href="/@Model.Category.ToLower()/@Model.URL.ToLower()">
                <i class="fa fa-external-link"></i>
                <span>Preview</span>
            </a>
        </div>
    }
</div>

@if (ViewBag.Success ?? false)
{
    <div class="alert alert-success">Saved!</div>
}
@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "Unable to save:", new { Class = "alert alert-danger" })
}
@{
    Html.BeginForm();
}
<div class="form-group hidden">
    @Html.LabelFor(p => p.ID)
    @Html.TextBoxFor(p => p.ID, new { Class = "form-control" })
</div>

<div class="row">
    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.Category)
        @Html.TextBoxFor(p => p.Category, new { Class = "form-control" })
    </div>
    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.URL)
        @Html.TextBoxFor(p => p.URL, new { Class = "form-control" })
    </div>
    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new { Class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-12">
        @Html.LabelFor(p => p.Description)
        @Html.TextBoxFor(p => p.Description, new { Class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-12">
        @Html.LabelFor(p => p.Body)
        @Html.TextAreaFor(p => p.Body, new { Class = "form-control", style = "height: 25em;" })
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        @Html.LabelFor(p => p.Timestamp)
        @Html.TextBoxFor(p => p.Timestamp, new { Class = "form-control" })
        <a href="javascript:resetTimestamp()">Now</a>
    </div>

    <div class="form-group col-sm-6">
        @Html.LabelFor(p => p.TwitterStatus)
        @Html.TextBoxFor(p => p.TwitterStatus, new { Class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.Aggregate)
        @Html.CheckBoxFor(p => p.Aggregate)
    </div>

    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.Partial)
        @Html.CheckBoxFor(p => p.Partial)
    </div>

    <div class="form-group col-sm-4">
        @Html.LabelFor(p => p.Crawl)
        @Html.CheckBoxFor(p => p.Crawl)
    </div>
</div>

<div class="text-center">
    <button class="btn btn-default btn-primary">Save</button>
</div>
@{
    Html.EndForm();
}