@model IEnumerable<Web.Models.Page>

<div class="btn">
    @Html.ActionLink("New", "create")
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Title</th>
            <th>Aggregate</th>
            <th>Crawl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model)
        {
            <tr>
                <td>@page.Timestamp</td>
                <td>@page.Category</td>
                <td>@Html.ActionLink(page.Title, "edit", new { id = page.ID })</td>
                <td>@page.Aggregate</td>
                <td>@page.Crawl</td>
            </tr>
        }
    </tbody>
</table>